body {
    background-color: #d9d9d9;
}

nav {
    border: 0 !important;
}

a.navbar-brand {
    color: #fff;
    padding: 20px;
}

a.navbar-brand {
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.container-fluid {
    background-color: #000;
}

.navbar-custom.is-fixed .navbar-brand {
    color: #fff;
}

.navbar-custom.is-fixed .nav li a {
    color: #fff;
}

#bs-example-navbar-collapse-1 li a:hover {
    background-color: #0085A1;
}

.navbar-custom.is-fixed .nav li a:hover,
.navbar-custom.is-fixed .nav li a:focus {
    color: #fff;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
    color: #0085A1;
}

div#bs-example-navbar-collapse-1.collapse.navbar-collapse {
    background-color: #000;
}

.navbar-default .navbar-toggle {
    border-color: #0085A1;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: #0085A1;
}

.navbar-custom .navbar-header .navbar-toggle {
    color: #fff;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

#wrapper {
    padding: 30px 0px;
}

*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.3em;
}

*[role="form"] h2 {
    margin-left: 5em;
    margin-bottom: 1em;
}

li {
    list-style: none;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

.active {
    background: #0085A1;
    opacity: .5;
    border-radius: 5px;
    color: #fff;
}


/*FIRST SECTION*/

div.first-section {
    background-color: #e6e6e6;
    min-height: 370px;
    border-bottom: 2px solid #2e3636;
    border-top: 2px solid #2e3636;
}

.custom_box {
    border-radius: 5px;
    background-color: #2e3636;
    min-height: 30px;
}

.custom_box h3 {
    color: #fff;
    font-size: 20px;
    position: relative;
}

.custom_box h3 span {
    color: #fff;
    font-size: 20px;
    left: -102px;
    margin-left: 50%;
    position: absolute;
    width: 204px;
}

.little_box {
    background-color: #f3f3f3;
    border-radius: 5px;
    float: left;
    height: 260px;
    margin-right: 18px;
    margin-top: 22px;
    width: 266px;
}

.little_box input {
    background-color: #2e3636;
    border-radius: 5px;
    color: #fff;
    height: 32px;
    margin: 0px 60px;
    text-transform: uppercase;
    width: 154px;
}

.little_box h3 {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.little_box h3,
p.box-paragraph-templates {
    color: #808080;
    text-align: center;
}

.little_box img {
    margin: 50px 100px;
}

.little_box.building_img img {
    margin: 44px 100px;
}

.little_box input:hover {
    cursor: pointer;
    background-color: #0085A1;
}

.post-meta {
    font-size: 12px;
    margin-top: -60px;
}

.box-paragraph-templates {
    height: 130px;
}

.input-read-more {
    font-size: 14px;
}

#btn-login,
#btn-signup {
    text-decoration: none;
}

.delete-container {
    width: 100%;
    position: relative;
}

.delete-button {
    position: absolute;
    bottom: 0;
}

.add-category {
    display: block;
    margin-top: 35px;
    padding-top: 7px;
}

.username-color {
    background: #ccc;
    padding: 10px;
}

.white-background {
    background: #fff;
}

.button-category {
    background: #ccc;
    border-radius: 10px;
    padding: 5px;
}

.post-ul-wrapper {
    padding: 0;
}

.btn-add-post,
.btn-categories,
.btn-my-post {
    width: 100% !important;
    display: block !important;
    margin-bottom: 30px;
}

.categories-wrapper {
    padding-top: 30px;
}

.form-horizontal {
    background-color: #e6e6e6;
    border-radius: 10px;
}

h3.post-head {
    background-color: #0085A1;
    color: #fff;
    padding: 16px 0;
    text-transform: uppercase;
}

.post ul {
    background-color: #fff;
    color: #0085A1;
}

.facebook-share-button {
    padding-top: 10px;
    text-align: center;
}

.box-paragraph {
    height: 130px;
}

#btn-post-add,
#btn-add-admin {
    background-color: #0085A1;
    color: #fff;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

label {
    color: #2e3636;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
}