<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="post white-background">
                <h3 class="post-head">{{data._id.title}}</h3>
                <p>{{data._id.content}}</p>
                <p>Categories: {{#categoryes}}
                    <a href="#categories/{{data.categoryes.name._id}}">{{this}}</a>{{/categoryes}}
                </p>
                <div>
                    <a href="#" data-id="{{data._id}}" data-cre="{{data._ic}}" data-type="like" class="btn-like btn-like-dislike hidden-when-not-logged-in glyphicon glyphicon-thumbs-up"></a>
                    <a href="#" data-id="{{data._id}}" data-cre="{{data._ic}}" data-type="dislike" class="btn-dislike btn-like-dislike hidden-when-not-logged-in glyphicon glyphicon-thumbs-down"></a>
                </div>
                <span>Likes: <strong>{{data._id.likes}}</strong></span>
                <span>Dislikes: <strong>{{data._id.dislikes}}</strong></span>
                <p>Posted by <a href="#/posts/{{data._id.username}}">{{data._id.username}}</a> on date{{data._id.date}}</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="delete-container">
                {{#if isOwn}}
                <button data-id="{{data._id}}" class="btn btn-danger btn-del-regular">Delete</button>
                <button data-id="{{data._id}}" class="btn btn-info ">Edit</button> {{/if}} {{#if isAdmin}}
                <button data-id="{{data._id}}" class=" btn btn-danger btn-del-admin" data-cre="{{data._ic}}">Delete</button>
                <button data-id="{{data._id}}" class="btn btn-info ">Edit</button> {{/if}} {{/if}}
            </div>
        </div>
    </div>
</div>