<!-- <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-preview">
            <ul>
                {{#this}}
                <li>
                    <a href="#">
                        
                        <h2 class="post-title">{{title}}</h2>
                        <h3>description</h3>
                        <p>
                            {{content}}
                        </p>
                    </a>
                    <div>
                        <a href="#" data-type="like" class="btn-like-dislike hidden-when-not-logged-in glyphicon glyphicon-thumbs-up"></a>
                        <a href="#" data-type="dislike" class="btn-like-dislike hidden-when-not-logged-in glyphicon glyphicon-thumbs-down"></a>
                    </div>
                    <span>Likes: <strong>{{likes}}</strong></span>
                    <span>Dislikes: <strong>{{dislikes}}</strong></span>
                    <p class="post-meta">Posted by <a href="#/posts/{{user}}?post=3">{{user}}</a> on date</p>
                    <p>Categoryes:
                    {{#categoryes}}
                     <a href="#/home?category={{this}}">{{this}}</a>
                    {{/categoryes}}
                     </p>
                </li>
                {{/this}}
            </ul>
        </div>
        <hr>
    </div>
</div>
 -->
<!-- Show All Posts-->
<!-- with their Categories -->
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <ul>
            {{#this}}
            <li>
                <a href="#/home?title={{title}}">
                    <h3 class="post-title">{{title}}</h3>
                </a>
                {{#if result}}
                <a href="#">
                    <img class="img-responsive" src="img/post-sample-image.jpg" alt="">
                </a>
                {{else}}
                <span></span> {{/if}}
                <div>
                    <a href="#" data-type="like" class="btn-like-dislike hidden-when-not-logged-in glyphicon glyphicon-thumbs-up"></a>
                    <a href="#" data-type="dislike" class="btn-like-dislike hidden-when-not-logged-in glyphicon glyphicon-thumbs-down"></a>
                </div>
                <span>Likes: <strong>{{likes}}</strong></span>
                <span>Dislikes: <strong>{{dislikes}}</strong></span>
                <p class="post-meta">Posted by <a href="#/posts/{{user}}">{{user}}</a> on date</p>
                <p>Categoryes: {{#categoryes}}
                    <a href="#/home?category={{this}}">{{this}}</a>
                 {{/categoryes}}
                </p>
            </li>
            {{/this}}
        </ul>
    </div>
</div>