<!-- List of all Categories-->
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <ul>
            {{#this}}
            <li>
                <a href="#/home?title={{title}}">
                    <h3 class="post-title">{{data.title}}</h3>
                </a>
                <div>
                    <a href="#" data-type="like" class="btn-like-dislike hidden-when-not-logged-in glyphicon glyphicon-thumbs-up"></a>
                    <a href="#" data-type="dislike" class="btn-like-dislike hidden-when-not-logged-in glyphicon glyphicon-thumbs-down"></a>
                </div>
                <div>
                    <span>Likes: <strong>{{likes}}</strong></span>
                    <span>Dislikes: <strong>{{dislikes}}</strong></span>
                </div>
                <div>
                    <p class="">Posted by <a href="#/posts/{{user}}">{{user}}</a> on date{{data.date}}</p>
                    <p>Categories: {{#categoryes}}
                        <a href="#/home?category={{this}}">{{this}}</a> {{/categoryes}}
                    </p>
                </div>
            </li>
            {{/this}}
        </ul>
    </div>
</div>