<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="post-head text-center">Posts</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 white-background text-center">
            <ul>
                {{#this}}
                <li>
                    <a href="#current-post/{{data.categoryes.name._id.posts._id}}">
                        <h3 class="post-title">{{post.title}}</h3>
                    </a>
                   
                    <span>Likes: <strong>{{post.likes}}</strong></span>
                    <span>Dislikes: <strong>{{post.dislikes}}</strong></span>
                    <p>Posted by <a href="#/posts/{{username}}">{{post.user}}</a> on date{{date}}</p>
                </li>
                {{/this}}
            </ul>
        </div>
    </div>
</div>
