<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="post">
                <h3>{{post.title}}</h3>
                <p>{{post.content}}</p>
                {{#post.categoryes}}
                <span>{{this}}</span> 
                {{/post.categoryes}}
                <div>
                    <a href="#" data-id="{{data._id}}" data-cre="{{data._ic}}" data-type="like" class="btn-like btn-like-dislike hidden-when-not-logged-in glyphicon glyphicon-thumbs-up"></a>
                    <a href="#" data-id="{{data._id}}" data-cre="{{data._ic}}" data-type="dislike" class="btn-dislike btn-like-dislike hidden-when-not-logged-in glyphicon glyphicon-thumbs-down"></a>
                </div>
                <span>Likes: <strong>{{post.likes}}</strong></span>
                <span>Dislikes: <strong>{{post.dislikes}}</strong></span>
                  Posted by
                         <a class="user" href="#/user/{{post._acl.creator}}/?cre={{post._ic}}" data-id="{{post._acl.creator}}" data-cre="{{post._ic}}">{{post.user}}</a> on date {{date}}
                        <hr>

            </div>
        </div>
    </div>
   
    </div>
</div>