<div class="first-section">
    <div class="container">
        <div class="custom_box">
            <h3><span>Most liked Posts</span></h3>
            <div class="clear"></div>
        </div>
        {{#this}}
        <div class="little_box">
            <p class="box-paragraph-templates">{{title}}</p>
            <input type="submit" value="Read More">
            <p class="post-meta">Posted by <a href="#">{{user}}</a> on date</p>
            <p class="post-meta">{{ facebookShare }}</p>
        </div>
        {{/this}}
    </div>
</div>
<script>
    FB.XFBML.parse();
</script>