<div class="container">
    <ul>
        {{#this}}
        <li>
            <div class="row">
                <div class="col-md-8 ">
                    <div class="white-background">
                        <a href="#posts/{{data._id}}">
                            <h3 class="post-title post-head">{{data.title}}</h3>
                        </a>

                        <p>Categoryes: {{#data.categoryes}}
                            <a href="#/posts?category={{this}}">{{this}}</a>
                             {{/data.categoryes}}
                        </p>
                        <div>
                            <a href="#" data-id="{{data._id}}" data-cre="{{data._ic}}" data-type="like" class="btn-like btn-like-dislike hidden-when-not-logged-in glyphicon glyphicon-thumbs-up"></a>
                            <a href="#" data-id="{{data._id}}" data-cre="{{data._ic}}" data-type="dislike" class="btn-dislike btn-like-dislike hidden-when-not-logged-in glyphicon glyphicon-thumbs-down"></a>
                        </div>
                        <span>Likes: <strong>{{data.likes}}</strong></span>
                        <span>Dislikes: <strong>{{data.dislikes}}</strong></span>
                        <p> Posted by
                            <a class="user" href="#/user/{{data._acl.creator}}/?cre={{data._ic}}" data-id="{{data._acl.creator}}" data-cre="{{data._ic}}">{{data.user}}</a>
                             on {{date}}
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="delete-container">
                        {{#if isOwn}}
                        <a data-id="{{data._id}}" class="btn-del-regular">Delete</a> {{/if}} {{#if isAdmin}}
                        <a data-id="{{data._id}}" class="btn-del-admin" data-cre="{{data._ic}}">Delete</a> {{/if}}
                    </div>
                </div>
            </div>
        </li>
        {{/this}}
    </ul>
</div>