<!-- <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <ul>
            {{#result}}
            <li>
                <p>Category: <a href="#/home?category={{category}}">{{category}}</a></p>
                <h2 class="section-heading">{{title}}</h2>
                <p>{{text}}</p>
                <a href="#">
                    <img class="img-responsive" src="img/post-sample-image.jpg" alt="">
                </a>
                <div>
                    <a href="#" data-type="like" class="btn-like-dislike hidden-when-not-logged-in glyphicon glyphicon-thumbs-up"></a>
                    <a href="#" data-type="dislike" class="btn-like-dislike hidden-when-not-logged-in glyphicon glyphicon-thumbs-down"></a>
                </div>
                <span>Likes: <strong>{{likes}}</strong></span>
                <span>Dislikes: <strong>{{dislikes}}</strong></span>
            </li>
            {{/result}}
        </ul>
    </div>
</div>
 -->
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <ul>
            {{#this}}
            <li>
                <a href="#/home?title={{title}}">
                    <h3 class="post-title">{{data.title}}</h3>
                </a>
              <!--   {{#if result}}
                <a href="#">
                    <img class="img-responsive" src="img/post-sample-image.jpg" alt="">
                </a>
                {{else}}
                <span></span> {{/if}} -->
                <div>
                    <a href="#" data-type="like" class="btn-like-dislike hidden-when-not-logged-in glyphicon glyphicon-thumbs-up"></a>
                    <a href="#" data-type="dislike" class="btn-like-dislike hidden-when-not-logged-in glyphicon glyphicon-thumbs-down"></a>
                </div>
                <span>Likes: <strong>{{data.likes}}</strong></span>
                <span>Dislikes: <strong>{{data.dislikes}}</strong></span>
                <p class="post-meta">Posted by <a href="#/posts/{{user}}">{{data.user}}</a> on date</p>
                <p>Categoryes:
                     {{#data.categoryes}}
                        <a href="#/home?category={{this}}">{{this}}</a>
                     {{/data.categoryes}}
                </p>
                {{#if isOwn}}
                <a data-id = "{{data._id}}" class = "btn-del">Delete</a>
                {{/if}}
            </li>
            <div class = "comments">

            </div>
            {{/this}}
        </ul>
    </div>
</div>

