<!-- Show all Titles with their Categories-->
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <ul>
            {{#this}}
            <li>
                <a href="#posts/{{data._id}}">
                    <h3 class="post-title">{{title}}</h3>
                </a>
                <p>Categories: {{#categoryes}}
                    <a href="#/home?category={{this}}">{{this}}</a>{{/categoryes}}
                </p>

                <div>
                    <a href="#" data-id="{{data._id}}" data-cre="{{data._ic}}" data-type="like" class="btn-like btn-like-dislike hidden-when-not-logged-in glyphicon glyphicon-thumbs-up"></a>
                    <a href="#" data-id="{{data._id}}" data-cre="{{data._ic}}" data-type="dislike" class="btn-dislike btn-like-dislike hidden-when-not-logged-in glyphicon glyphicon-thumbs-down"></a>
                </div>
                <span>Likes: <strong>{{likes}}</strong></span>
                <span>Dislikes: <strong>{{dislikes}}</strong></span>
                <p>Posted by <a href="#/posts/{{data._id.user.username}}">{{data._id.user.username}}</a> on date{{data._id.date}}</p>
                <div class="col-md-2">
                    <div class="delete-container">
                        {{#if isOwn}}
                        <button data-id="{{data._id}}" class="btn btn-danger btn-del-regular">Delete</button>
                        <button data-id="{{data._id}}" class="btn btn-info ">Edit</button> {{/if}} {{#if isAdmin}}
                        <button data-id="{{data._id}}" class=" btn btn-danger btn-del-admin" data-cre="{{data._ic}}">Delete</button>
                        <button data-id="{{data._id}}" class="btn btn-info ">Edit</button> {{/if}} {{/if}}
                    </div>
                </div>
            </li>
            {{/this}}
        </ul>
    </div>
</div>
