<div>
        <label for "title">
        <span>Title</span>
        <input id = "title-post" type="text" name="title" >
    </label>
    <label for "category">
        <span>Content</span>
        <input id = "content-post" type="text" name="category" >
    </label>
    <label for "category">
        <span> Add comma seperated category</span>
        <input id = "category-post" type="text" name="category" >
    </label>
    <br/>
    <button id = "btn-post-add">Post</button>
    <br/>
        
    {{#if isAdmin}}
    <label for "adminName">
        <span>Admin name</span>
        <input id = "admin-name" type="text" name="adminName" >
    </label>
    <label for "password">
        <span>Password</span>
        <input id = "admin-pass" type="text" name="password" >
    </label>
    <button id = "btn-add-admin">Add admine</button>
    {{/if}}
</div>