<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-10">

                    <div>
                        <ul>
                            <h3>Posts by {{user}}</h3>
                            {{#posts}}
                            <li>
                                <h3>{{title}}</h3>
                                <p>{{content}}</p>
                                {{#categoryes}}
                                <span>{{this}}</span> {{/categoryes}}
                            </li>
                            {{/posts}}
                        </ul>
                    </div>

                </div>
                <div class="col-md-2">
                    <div class="delete-container">
                        <button class="btn btn-danger">Delete</button>

                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-4">
            <button class="btn btn-info">Add New Post</button>

        </div>
    </div>
</div>