<div class="container">
  
        <label for="title-post">Add Title</label>
        <input id="title-post" type="text" name="title" class="form-control">
        <div class="row">
            <div class="col-md-8">
                <label for="category">Category</label>
                <input type="text" id="category" class="form-control">
            </div>
           
        </div>
       
        <label for="content-post">Content</label>
        <textarea id="content-post " name="category" class="form-control" cols="30" rows="10"></textarea>
        <button id="btn-post-add" class="btn btn-info">Post</button>
        <div>
            {{#if isAdmin}}
            <label for "adminName">
                <span>Admin name</span>
            </label>
            <input id="admin-name" class="form-control" type="text" name="adminName">

            <label for "password">
                <span>Password</span>
            </label>
            <input id="admin-pass" class="form-control" type="text" name="password">

            <button id="btn-add-admin" class="form-control">Add admine</button> {{/if}}
        </div>

</div>