<div class="container">
  
    <div class="row">
        <div class="col-md-12">
            <h3 class="post-head">{{username}}`s Posts</h3>
            <div class="row">
                <div class="col-md-8">

                    <div class="post">
                        <ul>
                            <li>
                               <span>Username: {{username}}</span>
                            </li>
                            <li>
                               <span>FullName: {{fullName}}</span>
                            </li>
                            <li>
                               <span>Email: {{email}}</span>
                            </li>
                            <li>
                               <span>Post count: {{postCount}}</span>
                            </li>
                            <li>
                               <span>Likes count: {{likes}}</span>
                            </li>
                             <li>
                               <span>Dislikes count: {{dislikes}}</span>
                            </li>
                           
                        </ul>
                    </div>
                </div>
                
            </div>

        </div>


    </div>
</div>

                          