<div id = "log-div">
	<input id = "username" type="text" value = "acc">
	<input id = "password" type="password" value = "pass">
	<a href = "#register" id = "btn-reg">Register</button>
	<a href = "#log" id = "btn-log">Login</button>
	<input type="checkbox" id = "check">
</div>