<h2>{{this.name}}</h2>
<div>
	<label for "actor">Add actor</label>
	<input type = "text" id = "actor" name = "actor">
	<a  id = "add-actor"> Add </a>
	<ul>
		{{#each this.actors}}
		<li>{{this}}</li>
		{{/each}}
	</ul>
</div>