<div id = "addMovie" >
	<input id = "movieName" type="text" value = "acc">
	<a href = "#add">Add Movie</a>
	{{#if isAdmin}}
	<h1>You are admin</h1>
	{{/if}}
	<a href = "#logout">Log out</a>
	</br>
	<a href = "#listMovies">Show all</a>
</div>

